---
import GitHubIcon from "phosphor-astro/GithubLogo.astro";
import LinkedinIcon from "phosphor-astro/LinkedinLogo.astro";

interface Props {
  imgSrc: string;
  name: string;
  role: string;
  github?: string;
  linkedin?: string;
}

const member = Astro.props;
---

<div class="flex flex-col text-center items-center">
  <img src={member.imgSrc} alt="member photo" class="w-24 h-auto rounded-full" />
  <p class="text-lg">{member.name}</p>
  <span class="font-bold text-main">{member.role}</span>
  <ul class="w-full flex justify-around mt-2">
    {
      member.github && (
        <li>
          <a href={member.github}><GitHubIcon class={"w-7 h-auto"} /></a>
        </li>
      )
    }
    {
      member.linkedin && (
        <li>
          <a href={member.linkedin}><LinkedinIcon class={"w-7 h-auto"} /></a>
        </li>
      )
    }
  </ul>
</div>
